# Python cache
__pycache__/
*.pyc

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environments
venv/
env/
env_local/
env_prod/
.env

# OS files
.DS_Store
Thumbs.db

# Jupyter metadata
*.nbconvert.ipynb

#result files
*.csv
*.json
*.txt

*.log
*.bak

Заметка_про_вирт_окружение.txt

LSDF/
info/
